# Build output
build/
dist/

# NetBeans
nbproject/private/

# Java
*.class
*.jar
!lib/luaj-jse-3.0.2.jar
!lib/lwjgl/
!lib/lwjgl/*.jar
!natives/lwjgl/
!natives/lwjgl/*.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db