# Build output
build/
dist/

# NetBeans
nbproject/private/

# Java
*.class
*.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Personal notes
GitHub Reference.txt
namesake.txt
credits.txt
JScratch Specification.docx